<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dhbin.isme.geometray.mapper.JobsMapper">
    <resultMap id="BaseResultMap" type="cn.dhbin.isme.geometray.domain.entity.Jobs">
        <!--@mbg.generated-->
        <!--@Table jobs-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="line_id" jdbcType="BIGINT" property="lineId"/>
        <result column="line_type" jdbcType="VARCHAR" property="lineType"/>
        <result column="direction" jdbcType="VARCHAR" property="direction"/>
        <result column="job_name" jdbcType="VARCHAR" property="jobName"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
        <result column="description" jdbcType="LONGVARCHAR" property="description"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        line_id,
        line_type,
        direction,
        job_name,
        start_time,
        end_time,
        device_id,
        `operator`,
        description,
        created_at
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from jobs
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from jobs
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.dhbin.isme.geometray.domain.entity.Jobs"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into jobs (line_id, line_type, direction,
                          job_name, start_time, end_time,
                          device_id, `operator`, description,
                          created_at)
        values (#{lineId,jdbcType=BIGINT}, #{lineType,jdbcType=VARCHAR}, #{direction,jdbcType=VARCHAR},
                #{jobName,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP},
                #{deviceId,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR},
                #{createdAt,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="cn.dhbin.isme.geometray.domain.entity.Jobs" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into jobs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lineId != null">
                line_id,
            </if>
            <if test="lineType != null">
                line_type,
            </if>
            <if test="direction != null">
                direction,
            </if>
            <if test="jobName != null">
                job_name,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="deviceId != null">
                device_id,
            </if>
            <if test="operator != null">
                `operator`,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lineId != null">
                #{lineId,jdbcType=BIGINT},
            </if>
            <if test="lineType != null">
                #{lineType,jdbcType=VARCHAR},
            </if>
            <if test="direction != null">
                #{direction,jdbcType=VARCHAR},
            </if>
            <if test="jobName != null">
                #{jobName,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deviceId != null">
                #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=LONGVARCHAR},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.dhbin.isme.geometray.domain.entity.Jobs">
        <!--@mbg.generated-->
        update jobs
        <set>
            <if test="lineId != null">
                line_id = #{lineId,jdbcType=BIGINT},
            </if>
            <if test="lineType != null">
                line_type = #{lineType,jdbcType=VARCHAR},
            </if>
            <if test="direction != null">
                direction = #{direction,jdbcType=VARCHAR},
            </if>
            <if test="jobName != null">
                job_name = #{jobName,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deviceId != null">
                device_id = #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                `operator` = #{operator,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=LONGVARCHAR},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.dhbin.isme.geometray.domain.entity.Jobs">
        <!--@mbg.generated-->
        update jobs
        set line_id     = #{lineId,jdbcType=BIGINT},
            line_type   = #{lineType,jdbcType=VARCHAR},
            direction   = #{direction,jdbcType=VARCHAR},
            job_name    = #{jobName,jdbcType=VARCHAR},
            start_time  = #{startTime,jdbcType=TIMESTAMP},
            end_time    = #{endTime,jdbcType=TIMESTAMP},
            device_id   = #{deviceId,jdbcType=VARCHAR},
            `operator`  = #{operator,jdbcType=VARCHAR},
            description = #{description,jdbcType=LONGVARCHAR},
            created_at  = #{createdAt,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

       <select id="pageDetail" resultType="cn.dhbin.isme.geometray.domain.dto.JobsDto">
        SELECT
        <include refid="Base_Column_List"/>
        FROM jobs
        <where>
            <if test="lineId != null">
                AND line_id = #{lineId}
            </if>
            <if test="lineType != null">
                AND line_type = #{lineType}
            </if>
            <if test="direction != null">
                AND direction = #{direction}
            </if>
            <if test="jobName != null">
                AND job_name = #{jobName}
            </if>
            <if test="startTime != null">
                AND start_time = #{startTime}
            </if>
            <if test="endTime != null">
                AND end_time = #{endTime}
            </if>
            <if test="deviceId != null">
                AND device_id = #{deviceId}
            </if>
            <if test="operator != null">
                AND operator = #{operator}
            </if>
            <if test="description != null">
                AND description like CONCAT('%', #{description}, '%')
            </if>
            <if test="createdAt != null">
                AND created_at = #{createdAt}
            </if>
        </where>
    </select>
</mapper>